{% extends 'base.j2' %}
{% block title %}file{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="/static/css/table.css"/>{% endblock %}
{% block content %}
<h1>file</h1>

<table>
<thead>
    <tr>
        <th>key</th>
        <th>value</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>id</td>
        <td>{{ file.id }}</td>
    </tr>
    <tr>
        <td>file</td>
        <td><code>{{ file.directory|truncate(20) }}</code></td>
    </tr>
    <tr>
        <td>file</td>
        <td><code>{{ file.file|truncate(20) }}</code></td>
    </tr>
    <tr>
        <td>dag_id</td>
        <td><a href="/tasks/{{ file.dag_id }}"><code>{{ file.dag_id if file.dag_id is not none else 'NULL' }}</code></a></td>
    </tr>
</tbody>
</table>

{% endblock %}
