{% extends 'base.j2' %}
{% block title %}task{% endblock %}
{% block content %}
<h1>task</h1>
status <code>{{ task.status }}</code><br/>
cmd <code>{{ task.cmd }}</code><br/>
env <code>{{ task.env }}</code><br/>
<a href="/logs/{{ task.id }}">logs</code></a><br/>
{% endblock %}
