{% extends 'base.j2' %}
{% block title %}tasks{% endblock %}
{% block content %}
<h1>tasks</h1>
<ul>
    {% for k, v in tasks.items() %}
        <li>
            <a href="/tasks/{{ k }}"><code>{{ k }}</code></a>
            status <code>{{ v.status }}</code>
            command <code>{{ v.command }}</code>
            env <code>{{ v.env }}</code>
            start_time <code>{{ v.start_time|format_time }}</code>
            duration <code>{{ v.duration }}</code> seconds
            returncode <code>{{ v.returncode }}</code>
            <a href="/logs/{{ k }}.txt">logs</code></a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
